*{
    margin:0
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.code-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
    width: 40%;
}

.role{
    color: #FFF;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    background-color: #1F5982;
    padding: 1rem;
    border-radius: 10px;
}

.code-block-image{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

h2{
    margin-bottom: 0.4rem;
}